<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A1</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>X</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>AE</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>eth</string>
  </array>
  <key>public.kern1.F</key>
  <array>
    <string>F</string>
    <string>franc</string>
  </array>
  <key>public.kern1.J1</key>
  <array>
    <string>IJ</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>lira</string>
  </array>
  <key>public.kern1.M</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>Germandbls</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>germandbls</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1.S1</key>
  <array>
  </array>
  <key>public.kern1.T1</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern1.a1</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>estimated</string>
    <string>h</string>
    <string>hcircumflex</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>oe</string>
  </array>
  <key>public.kern1.acute.case1</key>
  <array>
    <string>acute.case</string>
    <string>caron.case</string>
    <string>hungarumlaut.case</string>
    <string>tilde.case</string>
  </array>
  <key>public.kern1.asciitilde1</key>
  <array>
    <string>approxequal</string>
    <string>asciitilde</string>
  </array>
  <key>public.kern1.bar1</key>
  <array>
    <string>bar</string>
    <string>bracketright</string>
  </array>
  <key>public.kern1.bullet1</key>
  <array>
    <string>bullet</string>
    <string>bulletoperator</string>
  </array>
  <key>public.kern1.c1</key>
  <array>
  </array>
  <key>public.kern1.caron1</key>
  <array>
    <string>caron</string>
    <string>caron.salt</string>
    <string>hungarumlaut</string>
  </array>
  <key>public.kern1.circumflex</key>
  <array>
    <string>asciicircum</string>
    <string>circumflex</string>
    <string>circumflex.case</string>
  </array>
  <key>public.kern1.comma1</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.commaaccentcomb1</key>
  <array>
    <string>commaaccentcomb</string>
    <string>commaaccentcomb.salt</string>
  </array>
  <key>public.kern1.d1</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
    <string>f_f_l</string>
    <string>fl</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>lslash</string>
  </array>
  <key>public.kern1.dieresis.case1</key>
  <array>
    <string>dieresis.case</string>
    <string>dotaccent.case</string>
  </array>
  <key>public.kern1.dieresis1</key>
  <array>
    <string>dieresis</string>
    <string>dotaccent</string>
  </array>
  <key>public.kern1.eight1</key>
  <array>
    <string>eight</string>
    <string>three</string>
  </array>
  <key>public.kern1.f1</key>
  <array>
    <string>f</string>
    <string>f_f</string>
  </array>
  <key>public.kern1.g1</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>ij</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
  <key>public.kern1.greater1</key>
  <array>
    <string>greater</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.i1</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>longs</string>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern1.j1</key>
  <array>
    <string>dotlessj</string>
    <string>j</string>
    <string>jcircumflex</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>x</string>
  </array>
  <key>public.kern1.less1</key>
  <array>
    <string>guilsinglleft</string>
    <string>less</string>
  </array>
  <key>public.kern1.minus1</key>
  <array>
    <string>emdash</string>
    <string>hyphen</string>
    <string>minus</string>
  </array>
  <key>public.kern1.nine</key>
  <array>
    <string>nine</string>
    <string>partialdiff</string>
    <string>zero</string>
  </array>
  <key>public.kern1.o</key>
  <array>
    <string>b</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
  </array>
  <key>public.kern1.one</key>
  <array>
    <string>four</string>
    <string>one</string>
    <string>product</string>
  </array>
  <key>public.kern1.onequarter</key>
  <array>
    <string>onequarter</string>
    <string>threequarters</string>
  </array>
  <key>public.kern1.parenleft</key>
  <array>
    <string>bracketleft</string>
    <string>parenleft</string>
  </array>
  <key>public.kern1.quotedbl1</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.quoteleft1</key>
  <array>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.r</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern1.s1</key>
  <array>
    <string>peseta</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern1.slash1</key>
  <array>
    <string>divisionslash</string>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>public.kern1.t1</key>
  <array>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern1.v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Germandbls</string>
    <string>M</string>
    <string>germandbls</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>F</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>P</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>franc</string>
    <string>kcommaaccent</string>
    <string>lira</string>
    <string>peseta</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>V</string>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
  </array>
  <key>public.kern2.Z</key>
  <array>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>atilde</string>
    <string>dotlessi</string>
    <string>kgreenlandic</string>
    <string>m</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
    <string>x</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.acute</key>
  <array>
    <string>acute</string>
    <string>asciicircum</string>
    <string>circumflex</string>
    <string>circumflex.case</string>
  </array>
  <key>public.kern2.acute.case</key>
  <array>
    <string>acute.case</string>
    <string>hungarumlaut.case</string>
    <string>tilde.case</string>
  </array>
  <key>public.kern2.asciitilde</key>
  <array>
    <string>approxequal</string>
    <string>asciitilde</string>
  </array>
  <key>public.kern2.b</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>hcircumflex</string>
    <string>k</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
    <string>longs</string>
    <string>lslash</string>
  </array>
  <key>public.kern2.bar</key>
  <array>
    <string>bar</string>
    <string>bracketleft</string>
  </array>
  <key>public.kern2.bullet</key>
  <array>
    <string>bullet</string>
    <string>bulletoperator</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
  </array>
  <key>public.kern2.caron</key>
  <array>
    <string>caron</string>
    <string>caron.salt</string>
  </array>
  <key>public.kern2.caron.case</key>
  <array>
    <string>caron.case</string>
    <string>grave.case</string>
  </array>
  <key>public.kern2.comma</key>
  <array>
    <string>comma</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.commaaccentcomb</key>
  <array>
    <string>commaaccentcomb</string>
    <string>commaaccentcomb.salt</string>
  </array>
  <key>public.kern2.d</key>
  <array>
    <string>d</string>
    <string>dcaron</string>
  </array>
  <key>public.kern2.dieresis</key>
  <array>
    <string>dieresis</string>
    <string>dotaccent</string>
  </array>
  <key>public.kern2.dieresis.case</key>
  <array>
    <string>dieresis.case</string>
    <string>dotaccent.case</string>
  </array>
  <key>public.kern2.eight</key>
  <array>
    <string>ampersand</string>
    <string>eight</string>
  </array>
  <key>public.kern2.f</key>
  <array>
    <string>f</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
  </array>
  <key>public.kern2.g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
  </array>
  <key>public.kern2.greater</key>
  <array>
    <string>greater</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.i</key>
  <array>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
  </array>
  <key>public.kern2.j</key>
  <array>
    <string>dotlessj</string>
    <string>j</string>
    <string>jcircumflex</string>
  </array>
  <key>public.kern2.less</key>
  <array>
    <string>guilsinglleft</string>
    <string>less</string>
  </array>
  <key>public.kern2.minus</key>
  <array>
    <string>emdash</string>
    <string>hyphen</string>
    <string>minus</string>
  </array>
  <key>public.kern2.onehalf</key>
  <array>
    <string>onehalf</string>
    <string>onequarter</string>
  </array>
  <key>public.kern2.parenright</key>
  <array>
    <string>bracketright</string>
    <string>parenright</string>
  </array>
  <key>public.kern2.quotedbl</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern2.six</key>
  <array>
    <string>six</string>
    <string>zero</string>
  </array>
  <key>public.kern2.slash</key>
  <array>
    <string>divisionslash</string>
    <string>fraction</string>
    <string>slash</string>
  </array>
  <key>public.kern2.t</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern2.tbar</key>
  <array>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern2.tilde</key>
  <array>
    <string>hungarumlaut</string>
    <string>tilde</string>
  </array>
  <key>public.kern2.y</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ygrave</string>
  </array>
</dict>
</plist>
