<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>P</key>
  <dict>
    <key>q</key>
    <integer>-60</integer>
    <key>public.kern2.T</key>
    <integer>-70</integer>
    <key>public.kern2.c</key>
    <integer>-60</integer>
    <key>public.kern2.d</key>
    <integer>-60</integer>
    <key>public.kern2.g</key>
    <integer>-60</integer>
    <key>public.kern2.s</key>
    <integer>-60</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-70</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.M</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.T1</key>
  <dict>
    <key>p</key>
    <integer>-150</integer>
    <key>q</key>
    <integer>-150</integer>
    <key>public.kern2.A</key>
    <integer>-70</integer>
    <key>public.kern2.C</key>
    <integer>-70</integer>
    <key>public.kern2.S</key>
    <integer>-70</integer>
    <key>public.kern2.a</key>
    <integer>-150</integer>
    <key>public.kern2.c</key>
    <integer>-150</integer>
    <key>public.kern2.d</key>
    <integer>-150</integer>
    <key>public.kern2.f</key>
    <integer>-50</integer>
    <key>public.kern2.g</key>
    <integer>-150</integer>
    <key>public.kern2.s</key>
    <integer>-150</integer>
    <key>public.kern2.t</key>
    <integer>-150</integer>
    <key>public.kern2.y</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.a1</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.f1</key>
  <dict>
    <key>q</key>
    <integer>-70</integer>
    <key>public.kern2.c</key>
    <integer>-70</integer>
    <key>public.kern2.d</key>
    <integer>-70</integer>
    <key>public.kern2.g</key>
    <integer>-70</integer>
    <key>public.kern2.s</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.g1</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.o</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.s1</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.t1</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
  <key>public.kern1.v</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-150</integer>
  </dict>
</dict>
</plist>
